<div class="paginaCompleta">
  <div class="conBotones">
    <button type="button" class="btn btn-success" style="margin-right: 10px;" routerLink="/agregarPersona">Agregar nueva persona</button>
    <button type="button" class="btn btn-primary" style="margin-right: 10px;" routerLink="/Reporte">Ver Reporte</button>
    <button type="button" class="btn btn-default btn-danger" (click)="CerrarSesion()">Cerrar sesion</button>
  </div>
  <hr>
  <div class="container">
    <div *ngIf="!boolDatos">
      <h4> No hay registradas personas fisicas.</h4>
    </div>
    <div style="text-align: center;" *ngIf="boolDatos">
      <h2> Lista de personas fisicas.</h2>
    </div>
    <table class="table" *ngIf="boolDatos">
      <thead>
        <tr>
          <th scope="col">Id Persona Fisica</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido Paterno</th>
          <th scope="col">Apellido Materno</th>
          <th scope="col">RFC</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Usuario que lo agrego</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let persona of listaPersonas let i = index ">
          <td scope="col">{{persona.idPersonaFisica}}</td>
          <td scope="col">{{persona.nombre}}</td>
          <td scope="col">{{persona.apellidoPaterno}}</td>
          <td scope="col">{{persona.apellidoMaterno}}</td>
          <td scope="col">{{persona.rfc}}</td>
          <td scope="col">{{persona.fechaNacimiento}}</td>
          <td scope="col">{{persona.usuarioAgrega}}</td>
          <td scope="col">
            <button type="button" class="btn btn-default btn-primary" [routerLink]="['/agregarPersona',persona.idPersonaFisica]"
              data-toggle="modal" data-target="#myModaledit">
              <span class="glyphicon glyphicon-edit"></span> Editar
            </button>
            |
            <button type="button" class="btn btn-default btn-danger" (click)="EliminarPersona(persona.idPersonaFisica)">
              <span class="glyphicon glyphicon-trash"></span> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>