<div class="paginaCompleta">
  <div class="ajustarTabla">
    <table mat-table [dataSource]="dataSource" #tabla1>
  
      <ng-container matColumnDef="IdCliente">
        <th mat-header-cell *matHeaderCellDef> Id del Cliente </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.IdCliente}} </td>
      </ng-container>
  
      <ng-container matColumnDef="FechaRegistroEmpresa">
        <th mat-header-cell *matHeaderCellDef> Fecha de Registro Empresa </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.FechaRegistroEmpresa}} </td>
      </ng-container>

      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.Nombre}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Paterno">
        <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.Paterno}} </td>
      </ng-container>

      <ng-container matColumnDef="Materno">
        <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.Materno}} </td>
      </ng-container>
  
      <ng-container matColumnDef="RFC">
        <th mat-header-cell *matHeaderCellDef> RFC </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.RFC}} </td>
      </ng-container>

      <ng-container matColumnDef="RazonSocial">
        <th mat-header-cell *matHeaderCellDef> Razon Social </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.RazonSocial}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Sucursal">
        <th mat-header-cell *matHeaderCellDef> Sucursal </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.Sucursal}} </td>
      </ng-container>

      <ng-container matColumnDef="IdEmpleado">
        <th mat-header-cell *matHeaderCellDef> Id del Empleado </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.IdEmpleado}} </td>
      </ng-container>
  
      <ng-container matColumnDef="IdViaje">
        <th mat-header-cell *matHeaderCellDef> Id del Viaje </th>
        <td mat-cell *matCellDef="let cliente"> {{cliente.IdViaje}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[20]" showFirstLastButtons></mat-paginator>
  </div>

  <div style="text-align: center;">
    <button class="btn btn-default btn-danger" style="margin-right: 10px;"  routerLink="/">Regresar</button>
    <button class="btn btn-primary" (click)="downloadExcel()">Descargar Excel</button>
  </div>
</div>


