<div class="login">
  <form class="formLogin" method="post">
    <h1>Iniciar Sesion</h1>
    <input type="email" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="Correo" name="email" placeholder="Correo" required="required"/>
    <input type="password" class="form-control" [ngModelOptions]="{standalone: true}"  [(ngModel)]="Contrasena" name="password" placeholder="Contraseña" required="required"/>
    <button type="submit" style="margin-right: 10px;" class="btn btn-success" (click)="login()">Iniciar sesion</button>
    <button class="btn btn-primary" routerLink="/registro">Registrarse</button>
  </form>
</div>