<div class="paginaCompleta">
  <div class="container" class="conRegistro">
    <div style="text-align: center;" *ngIf="!boolEditar">
      <h4> Nueva persona</h4>
    </div>
    <div style="text-align: center;" *ngIf="boolEditar">
      <h4> Editar persona</h4>
    </div>
    <form [formGroup]="RegistrarPersonaForm" (ngSubmit)="!boolEditar ? Guardar() :  Editar()" >
      <div class="form-group">
        <label class="control-label col-sm-2" for="fname">Nombre:</label>
        <div class="col-sm-12">
          <input formControlName="Nombre" class="form-control" id="Nombre" placeholder="Nombre" type="text" name="Nombre"
            required="true" />
          <span class="help-bpx" *ngIf="RegistrarPersonaForm.controls['Nombre'].errors">
            <p class="text-danger" [hidden]="RegistrarPersonaForm.controls['Nombre'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="fname">Apellido Paterno:</label>
        <div class="col-sm-12">
          <input formControlName="ApellidoPaterno" class="form-control" id="ApellidoPaterno"
            placeholder="Apellido Paterno" type="text" name="ApellidoPaterno" required="true" />
          <span class="help-bpx" *ngIf="RegistrarPersonaForm.controls['ApellidoPaterno'].errors">
            <p class="text-danger" [hidden]="RegistrarPersonaForm.controls['ApellidoPaterno'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="fname">Apellido Materno:</label>
        <div class="col-sm-12">
          <input formControlName="ApellidoMaterno" class="form-control" id="ApellidoMaterno"
            placeholder="Apellido Materno" type="text" name="ApellidoMaterno" required="true" />
          <span class="help-bpx" *ngIf="RegistrarPersonaForm.controls['ApellidoMaterno'].errors">
            <p class="text-danger" [hidden]="RegistrarPersonaForm.controls['ApellidoMaterno'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="fname">RFC:</label>
        <div class="col-sm-12">
          <input formControlName="RFC" class="form-control" id="RFC" placeholder="RFC" type="text" name="RFC"
            required="true" />
          <span class="help-bpx" *ngIf="RegistrarPersonaForm.controls['RFC'].errors">
            <p class="text-danger" [hidden]="RegistrarPersonaForm.controls['RFC'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-12" for="fname">Fecha de Nacimiento:</label>
        <div class="col-sm-12">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" formControlName="FechaNacimiento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="form-group" *ngIf="!boolEditar">
        <label class="control-label col-sm-12" for="fname">Usuario que lo Agrega:</label>
        <div class="col-sm-12">
          <input formControlName="UsuarioAgrega" class="form-control" id="UsuarioAgrega"
            placeholder="Usuario que lo agrega" type="number" name="UsuarioAgrega" required="true" />
          <span class="help-bpx" *ngIf="RegistrarPersonaForm.controls['UsuarioAgrega'].errors">
            <p class="text-danger" [hidden]="RegistrarPersonaForm.controls['UsuarioAgrega'].pristine">
              Campo requerido
            </p>
          </span>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-12" style="display: flex;  justify-content: space-around;">
          <button id="btnsubmit" type="submit" class="btn btn-primary" style="margin-right: 20px;"
            [disabled]="!RegistrarPersonaForm.valid">Guardar</button>
            <button routerLink="/" type="button" class="btn btn-default btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>
