﻿@model FrontWeb.Models.PersonaData

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle de la Persona</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id Persona Fisica
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPersonaFisica)
        </dd>
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Apellido Paterno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoPaterno)
        </dd>
        <dt class = "col-sm-2">
            Apellido Materno
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApellidoMaterno)
        </dd>
        <dt class = "col-sm-2">
            RFC
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RFC)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Nacimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            Usuario que lo Agrego
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsuarioAgrega)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdPersonaFisica}) |
    <a asp-action="Index">Regresar a la lista</a>
</div>
