﻿@model IEnumerable<FrontWeb.Models.PersonaData>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Personas Fisicas</h1>

<p>
    <a asp-action="Create">Agregar Nueva Persona</a>
    <a asp-action="Reporte">Ver Reporte</a>
    <a asp-controller="Login" asp-action="Logout" method="post">Cerrar Sesion</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Apellido Paterno
            </th>
            <th>
                Apellido Materno
            </th>
            <th>
                RFC
            </th>
            <th>
                Fecha de Nacimiento
            </th>
            <th>
                Id Usuario que lo agrego
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPersonaFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMaterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioAgrega)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdPersonaFisica }) |
                @Html.ActionLink("Ver detalles", "Details", new { id=item.IdPersonaFisica }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.IdPersonaFisica })
            </td>
        </tr>
}
    </tbody>
</table>
