﻿@model IPagedList<FrontWeb.Models.ClienteModel>
@using PagedList.Mvc;
@using PagedList;
@using System.Web.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Reporte";
}

<h1>Reporte</h1>

<p>
    <a asp-action="ExportToExcel">Exportar excel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Cliente
            </th>
            <th>
                Fecha de Registro de la Empresa
            </th>
            <th>
                Razon Social
            </th>
            <th>
                RFC
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Sucursal)
            </th>
            <th>
                Id Empleado
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Materno)
            </th>
            <th>
                Id Viaje
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaRegistroEmpresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RazonSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEmpleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdViaje)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

<ul class="pager">
    @if (Model.HasPreviousPage)
    {
        <li class="previous">
            <a href="@Url.Action("Reporte", new {page = Model.PageNumber - 1})">&larr; Atras </a>
        </li>
    }
    Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @if (Model.HasNextPage)
    {
        <li class="next">
            <a href="@Url.Action("Reporte", new {page = Model.PageNumber + 1})"> Siguiente &rarr;</a>
        </li>
    }
</ul>
