.registroComplete{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
  .formRegistro {
    width: 500px;
    padding: 2rem 3rem;
    margin: auto;
    border-radius: 2.5rem;
    background-color: #fafcff;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    color: black;
    margin-top: 10rem;
  }
  .formRegistro input {
    display: block;
    margin: 2rem 0;
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    border: none;
    box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.8), inset 5px 5px 10px
        rgba(0, 0, 0, 0.1);
    border: 0 none;
  }