<div class="registroComplete">
  <form class="formRegistro" method="post">
    <h1>Registro</h1>
    <input type="email" [(ngModel)]="email" name="email" placeholder="Correo" required="required" />
    <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required="required" />
    <input type="password" [(ngModel)]="confirmPassword" name="password" placeholder="Repetir contraseña" required="required" />
    <button type="submit" class="btn btn-success" style="margin-right: 10px;" (click)="register()">Registrarse</button>
    <button class="btn btn-primary" routerLink="/login">Iniciar Sesion</button>
  </form>
</div>