﻿@model FrontWeb.Models.LoginModel

@{
    ViewData["Title"] = "Index";
}

<h1>Login</h1>
<a asp-action="Registro">Registrarse</a>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="Contrasena" class="form-control" type="password" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            @TempData["Mensaje"]
            <div class="form-group">
                <input type="submit" value="Iniciar sesion" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

