﻿@model FrontWeb.Models.RegistroModel

@{
    ViewData["Title"] = "Registro";
}

<h1>Registro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input asp-for="Contrasena" class="form-control" type="password" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Confirmar contraseña</label>
                <input asp-for="ContrasenaConfirm" class="form-control" type="password" />
                <span asp-validation-for="ContrasenaConfirm" class="text-danger"></span>
            </div>
            @TempData["Mensaje"]
            <div class="form-group">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Login">Iniciar sesion</a>
</div>

